*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* DEBUG:  */

[class^="col-"] {
  border: 1px solid black;
}

/* NAVBAR */

nav {
  background-color:#2C3E50FF;
  height: auto;
}

nav .container-fluid{
  padding: 0;
}

  /* media padding */
@media all and (min-width: 992px){
  nav .container-fluid{
    padding: 0 5%;
  }
}

@media all and (min-width: 1200px) {
  nav .container-fluid{
    padding: 0 15%;
  }
}

nav [class^="col-"]{
  height: 60px;
}

/* START */

.start {
  background-color: #1ABC9CFF;
  height: auto;
}

.start [class^="col-"]{
  height: 300px;
}

/* PORTFOLIO */

.portfolio .container-fluid{
  padding: 3% 0;
  height: auto;
}
  /* media padding */
@media all and (min-width: 992px){
  .portfolio .container-fluid{
    padding: 3% 5%;
    height: auto;
  }
}

@media all and (min-width: 1200px){
  .portfolio .container-fluid{
    padding: 3% 15%;
    height: auto;
  }
}

.portfolio [class^="col-"]{
  height: 200px;
}

.portfolio .row:last-child > [class^="col-"] {
  height: 250px;
}

/* ABOUT */

.about{
  background-color: #1ABC9CFF;
  height: auto;

}

.about .container-fluid{
  padding: 3% 10% 2% 10%;
}
  /* media padding */
@media all and (min-width: 992px){
  .about .container-fluid{
    padding: 3% 15% 2% 15%;
  }
}

@media all and (min-width: 1200px) {
  .about .container-fluid{
    padding: 3% 18% 2% 18%;
  }
}

.about .title [class^="col-"]{
  height: 100px;
}

.about .testo [class^="col-"]{
  height: 110px;
}

.about .button [class^="col-"]{
  height: 40px;
}

/* CONTACT ME */

.contact{
  height: auto;
}

.contact .container-fluid{
  padding: 3% 10% 2% 10%;
}
  /* media padding */
@media all and (min-width: 992px){
  .contact .container-fluid{
    padding: 3% 15% 2% 15%;
  }
}

@media all and (min-width: 1200px) {
  .contact .container-fluid{
    padding: 3% 18% 2% 18%;
  }
}

.contact [class^="col-"]{
  height: 350px;
}

/* FOOTER */
/* contatti */
footer .container-fluid> .row:first-child{
  background-color: #3A546DFF;
  height: auto;
  padding: 2% 2%;
}
  /* media padding */
@media all and (min-width: 992px){
  footer .container-fluid> .row:first-child{
    padding: 2% 5%;
  }
}

@media all and (min-width: 1200px) {
  footer .container-fluid> .row:first-child{
    padding: 2% 15%;
  }
}

footer .container-fluid> .row:first-child [class^="col-"]{
  height: 150px;
}
/* copyright */
footer .container-fluid> .row:last-child{
  background-color: #2C3E50FF;
  height: auto;
}

footer .container-fluid> .row:last-child [class^="col-"]{
  height: 40px;
}
